.process-box, .process-box-right {
    background: #fff;
    padding: 10px;
    border-radius: 15px;
    position: relative;
    box-shadow: 2px 2px 7px 0 rgba(0,0,0,.3411764705882353);
}
.step, .step-r{
background-color: #ea461d;
width:130px;
margin-left: 10px;
margin-top:-23px;
color:white;
border-radius:0px 0px 5px 5px;
box-shadow: -8px 8px #EBEBEB;
}
.step:after, .step:before {
    content: "";
    border-style: solid;
    border-width: 8px;
    display: inline-grid;
    position: absolute;
    top: 0;
}
.step:after {
    border-color: rgba(4,136,152,0) #ea461d #ea461d rgba(4,136,152,0);
    margin-top:-13px;
    left: 4px;
}
.step:before {
    border-color: rgba(255,0,0,0) rgba(255,0,0,0) #ea461d #ea461d;
    margin-top:-13px;

    right: 360px;
}

@media only screen and (min-width: 1000px) and (max-width: 1280px) {
    .step:before {
        border-color: rgba(255,0,0,0) rgba(255,0,0,0) #ea461d #ea461d;
        margin-top: -13px;
        right: 285px;
    }
}
@media (max-width: 1000px) {
    .step:before {
        border-color: rgba(255,0,0,0) rgba(255,0,0,0) #ea461d #ea461d;
        margin-top: -13px;
        right: 210px;
    }}
.step-r:after, .step-r:before {
    content: "";
    border-style: solid;
    border-width: 8px;
    display: inline-grid;
    position: absolute;
    top: 0;
}
.step-r:before {
    border-color: rgba(255,0,0,0) rgba(255,0,0,0) #ea461d #ea461d;
    left: 150px;
    top: -12px;
}

.step-r:after {
    border-color: rgba(4,136,152,0) #ea461d #ea461d rgba(4,136,152,0);
    left: 4px;
    top: -13px;
}


.box_left:after{
    content: "";
    display: inline-grid;
    position: absolute;
    top: 42%;
    transform: rotate(45deg);
    z-index: 1;
}
.box_left:after {
    border: 15px solid #fff;
    right: -15px;
    box-shadow: 3px -2px 3px 0 rgba(0,0,0,.21176470588235294);
}


.process-line-l, .process-line-r {
    background: #fff;
    height: 4px;
    position: absolute;
    width: 140px;
    z-index: 9;
}

.process-line-l{
    right: -150px;
    top: 105px;
} 
.process-line-r {
    left: -150px;
    top: 105px;
}


.box-right:after {
    content: "";
    display: inline-grid;
    position: absolute;
    top: 42%;
    transform: rotate(45deg);
    z-index: 1;
}
.box-right:after {
    border-color: hsla(0,0%,100%,0) hsla(0,0%,100%,0) #fff #fff;
    border-style: solid;
    border-width: 15px;
    left: -15px;
    box-shadow: -1px 1px 3px 0 rgba(0,0,0,.10196078431372549);
}