.main{
    background-color:  #F7F7F7;
 }
 m-100{
margin-right: 100px;
margin: right 100px;
 }
 @media only screen and (min-width: 1401px) and (max-width: 2000px) {
    .process-point-right-first{
        background: #fff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 8px solid #ea461d;
        box-shadow: 0 0 0 6px #3f3d56;
        margin: auto 0;
        position: absolute;
        bottom: 151px;
        left: -95px;
    }
    .process-point-right-first::before {
        content: "";
        height: 356px;
        width: 10px;
        background: #3f3d56;
        display: inline-grid;
        transform: rotate(17deg);
        position: relative;
        left: -55px;
        top: 11px
    }
    .process-point-left-second {
        background: #fff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 8px solid #ea461d;
        box-shadow: 0 0 0 6px #3f3d56;
        margin: auto 0;
        position: absolute;
        bottom: 152px;
        right: -42px;
        z-index: 100;
    }
    .process-point-left-second::before {
        content: "";
        height: 345px;
        width: 10px;
        background: #3f3d56;
        display: inline-grid;
        transform: rotate(-15deg);
        position: relative;
        left: 50px;
        top: 12px;
    }
    .process-point-right-last {
        background: #fff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 8px solid #ea461d;
        box-shadow: 0 0 0 6px #3f3d56;
        margin: auto 0;
        position: absolute;
        left: -99px;
        top: 134px;
    }
  }
  @media only screen and (min-width: 1280px) and (max-width: 1400px) {
    .process-point-right-first {
        background: #fff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 8px solid #ea461d;
        box-shadow: 0 0 0 6px #3f3d56;
        margin: auto 0;
        position: absolute;
        bottom: 147px;
        left: -47px ;

    }
    .process-point-right-first::before {
        content: "";
        width: 10px;
        background: #3f3d56;
        display: inline-grid;
        transform: rotate(17deg);
        top: 11px;
        position: relative;
        height: 350px;
        left: -56px;   

    }
    .process-point-left-second {
        background: #fff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 8px solid #ea461d;
        box-shadow: 0 0 0 6px #3f3d56;
        margin: auto 0;
        position: absolute;
        bottom: 152px;
        right: -67px;
    }
    .process-point-left-second::before {
        content: "";
        height: 350px;
        width: 10px;
        background: #3f3d56;
        display: inline-grid;
        transform: rotate(-15deg);
        position: relative;
        left: 48px;
        top: 12px;  
    }
    .process-point-right-last {
        background: #fff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 8px solid #ea461d;
        box-shadow: 0 0 0 6px #3f3d56;
        margin: auto 0;
        position: absolute;
        left: -47px;
        top: 130px;
    }
  }





  @media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .process-point-right-first {
        background: #fff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 8px solid #ea461d;
        box-shadow: 0 0 0 6px #3f3d56;
        margin: auto 0;
        position: absolute;
        bottom: 150px;
        left: -47px ;

    }
    .process-point-right-first::before {
        content: "";
        width: 10px;
        background: #3f3d56;
        display: inline-grid;
        transform: rotate(17deg);
        top: 11px;
        position: relative;
        height: 350px;
        left: -56px;   

    }
    .process-point-left-second {
        background: #fff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 8px solid #ea461d;
        box-shadow: 0 0 0 6px #3f3d56;
        margin: auto 0;
        position: absolute;
        bottom: 152px;
        right: -35px;
    }
    .process-point-left-second::before {
        content: "";
        height: 350px;
        width: 10px;
        background: #3f3d56;
        display: inline-grid;
        transform: rotate(-15deg);
        position: relative;
        left: 48px;
        top: 12px;  
    }
    .process-point-right-last {
        background: #fff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 8px solid #ea461d;
        box-shadow: 0 0 0 6px #3f3d56;
        margin: auto 0;
        position: absolute;
        left: -50px;
        top: 133px;
        z-index:  100;
    }
  }
  @media only screen and (max-width: 1000px) {
    .process-point-left-second, .process-point-left-second,.process-point-right-last{
        display: none;
    }
  }



/* left */
  .reveal{
    transform: translateX(-90px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateX(0);
    opacity: 1;
  }
/* right */
  .reveal-r{
    transform: translateX(90px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal-r.active{
    transform: translateX(0);
    opacity: 1;
  }